Package: com.gao.runmario
Name: RunMario
Depends: mobilesubstrate, firmware (>= 10.0)
Priority: optional
Version: 0.1
Architecture: iphoneos-arm
Description: allow playing SuperMarioRun on jailbreak device
Maintainer: Gao <Gaojiji@gmail.com>
Author: Gao <Gaojiji@gmail.com>
Section: Tweaks
